.avatar {
  width: 200px;
  border-radius: 50%;
}

.profile {
  width: 480px;
  padding: 1px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid gray;
  background-color: snow;
  border-radius: 10px;
}
.description {
  padding: 10px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  border-bottom: 0.5px solid grey;
}

.name {
  font-size: 22px;
  font-weight: 700;
  color: royalblue;
  margin-top: 0;
  margin-bottom: 5px;
}

.tag {
  font-size: 14px;
  color: darkslategrey;
  margin-top: 0;
  margin-bottom: 5px;
}

.location {
  font-size: 16px;
  font-weight: 500;
  color: teal;
  margin-top: 0;
  margin-bottom: 5px;
}

.stats {
  display: flex;
  justify-content: center;
  padding: 0;
}

.elements {
  font-size: 16px;
  font-weight: 500;
  padding: 20px;
  background-color: lightgray;
}
.quantity {
  font-weight: bold;
  color: royalblue;
}
