.statistics {
  background-color: lightgray;
  padding: 20px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 480px;
  text-align: center;
  border: 0.5px solid grey;
}

.title {
  color: darkslategrey;
  margin-top: 0;
  margin-bottom: 8px;
}

.statlist {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-left: 0;
}

.item {
  padding: 8px;
  font-weight: 500;
  color: black;
}

.label {
  display: block;
}
.percentage {
  color: royalblue;
}
